@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="true" Theme="McpTheme" />
<MudPopoverProvider />

<MudDialogProvider />

<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    MudTheme McpTheme = new MudTheme()
        {
            PaletteDark = new PaletteDark()
            {
                // Primary = Colors.Red.Default,
                // Secondary = Colors.Blue.Default,
                // Background = Colors.Red.Default,
            },

            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}